.matches {
  border: 1px solid #000;
}

/* ================================= */
/*           MEDIA QUERIES           */
/* ================================= */

@media screen and (min-width: 650px) {
  .matches {
    border-radius: 7px;
    border: 2px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}