.card {
  max-width: 48%;
  position: relative;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(61, 162, 221);
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 3px 3px 10px lightblue;
  box-shadow: 0 4px 8px 0 rgba(61, 162, 221, 0.2), 0 6px 20px 0 rgba(61, 162, 221, 0.19);
}
.pic-title {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 1.5rem;
  font-family: Oswald;
  text-transform: uppercase;
  border-bottom: 2px solid #222;
  color: white;
}

.tennis-player-image {
  display: block;
  max-width:90%;
  max-height:100%;
  padding: 10px;
  margin: auto;
  transition: .3s;
  /* border: 1px solid red; */
}

.overlay {
  position: absolute;
  bottom: 0;
  left: -5px;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  border-right: 5px solid black;
  /* border: 1px solid yellow; */
}

.card:hover .overlay {
  width: 105%;
}

.card:hover .tennis-player-image {
  transform: rotate(40deg) translate(100px) scale(2.5);
}

.text {
  /* font-family: Oswald; */
  color: white;
  font-size: 6vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: 1px solid red; */
}

.text span {
  display: block;
  text-align: center;
  /* border: 1px dotted white; */
}

.text span:nth-child(1) {
  font-weight: 600;
  color: yellow;
  text-shadow: 3px 2px 1px black;
}

.text span:nth-child(2) {
  font-size: 25px;
  text-transform: lowercase;
}

.text span:nth-child(3) {
  font-weight: 900;
}

/* ================================= */
/*           MEDIA QUERIES           */
/* ================================= */

@media screen and (min-width: 650px) {
  .card {
    max-width: 300px;
    margin: 10px;
  }
  .text {
    font-size: 4vw;
  }

  .picTitle {
    height: 40px;
    font-size: 2rem;
  }
}