.App {
  background-color: var(--main-bg);
  background: linear-gradient(to top right, #fefbd8 0%, #fcf283 100%);
  padding-bottom: 1rem;
}
.content {
  background-color: #f9f8eb;
  padding: 0;
}
.intro {
  text-align: justify;
  font-family: Oswald;
  font-size: 1.4rem;
  font-weight: 300;
  padding: 1.2rem 1rem;
  color: #444;
  /* background-color: green; */
}

.intro .hvezdicka {
  color: red;
  position: relative;
  font-weight: 700;
  display: none;
}
.intro .hvezdicka::after {
  content: 'spíš jednoho, než toho druhého';
  display: none;
  color: #444;
  font-weight: 400;
}
.intro .hvezdicka:hover::after {
  position: absolute;
  top: 35px;
  left: 0;
  display: block;
  background-color: #eee;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 40px;
  line-height: 40px;
}

.content .intro p {
  display: inline;
  /* border: 1px solid gray; */
}
.intro a {
  text-decoration: none;
}

.intro a:link {color: red; font-weight: 400;}
.intro a:visited {color: red; font-weight: 400;}
.intro a:hover {
  color: #fff;
  background-color: rgb(236, 161, 148);
}
.content .intro a:active {color: green;}

/* ------------------- */
/*       WELCOME       */
/* ------------------- */

.welcome {
  background-color: #ddd;
  padding-top: 5px;
}
.welcome .quote {
  font-size: 1.5rem;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
.welcome .quote p {
  color: #555;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  font-family: 'Gochi Hand', cursive;
}
.welcome .quote footer {
  margin-top: .5rem;
  padding: 0;
  color: #777;
  font-size: 1rem;
  text-align: right;
  font-style: italic;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}
.welcome .quote footer:before {
  content: '— ';
}

/* ------------------- */
/*       PLAYERS       */
/* ------------------- */

.players-section {
  box-sizing: border-box;
  padding: 10px 20px 20px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top right, #2b5797 0%, #3399ff 100%);
}
.players-title {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: .5rem;
  background: linear-gradient(to right, #224477 -20%, #3399ff 106%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: Oswald;
  font-weight: 700;
  font-size: 6vh;
  letter-spacing: 5px;
}

/* -------------------- */
/*      SCORE BOARD     */
/* -------------------- */

.score-board {
  font-family: 'Seymour One', sans-serif;
  min-height: 100px;
  background-color: var(--john-color);
  background: linear-gradient(to top right, #457821 0%, #99b433 100%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}
.score-board div:nth-child(1){
  padding: 10px 0 3px;
  color: #fff;
  text-transform: uppercase;
  /* border: 1px solid red; */
}
.score-board .h2hScore {
  border: 1px solid black;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  font-size: 5rem;
  margin-bottom: 10px;
}

.score-board span {
  /* border: 1px solid black; */
  display: inline-block;
}

.score-board span:nth-child(1) {
  color: var(--john-color-light);
  animation: score steps(4) 300ms infinite alternate;
}
.score-board span:nth-child(2) {
  font-weight: 700;
  color: #444;
}
.score-board span:nth-child(3) {
  color: var(--phil-color-light);
  animation: score steps(4) 300ms infinite alternate;
}

@keyframes score {
  0%   {transform: scale(1.4,1.4);}
  90%   {transform: scale(1.2,1.2);}
}

.score-board span {
  padding: 0 1.5rem;
}

/* -------------------- */
/*        TABLE         */
/* -------------------- */

.tabulka {
  margin-top: 2rem; 
  padding: 5px;
  /* border: 1px solid green; */
}

.tabulka-heading {
  text-align: center;
  margin: 0;
  font-family: Oswald;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 4rem;
  /* border: 1px solid purple; */
}

.tabulka .rekapitulace {
  color: #444;
  margin: 0 .5rem .3rem;
  text-align: right;
  font-weight: 300;
}
.tabulka .rekapitulace span {
  font-weight: 500;
  font-family: Oswald;
  color: red;
}
.tabulka i {
  /* border: 1px solid red; */
  font-size: 3rem;
  transform: rotate(7deg) translateY(-11px);
  margin-left: 1rem;
  color: #99b433;
}

/* ================================= */
/*           MEDIA QUERIES           */
/* ================================= */

@media screen and (min-width: 650px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    border: 1px dotted #c7b705;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
  }
  .intro {
    width: 80%;
    text-align: justify;
    font-family: Oswald;
    font-size: 1.5rem;
    color: #444;
    margin-top: 2rem;
  }
  .intro p {
    display: block;
    margin: 0;
    padding: 0;
  }
  .intro .hvezdicka {
    display: inline;
  }
  .welcome {
    align-self: stretch;
    margin-top: 4rem;
    margin-bottom: 4rem;
    /* margin: 4rem auto; */
  }
  .welcome .quote {
    max-width: 80%;
  }
  .welcome .quote p {
    font-size: 3rem;
  }

  .welcome .quote footer {
    font-size: 1.4rem;
  }

  .players-section {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .players-title {
    font-weight: 700;
  }
  .score-board {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: .3rem;
    /* border: 1px solid red; */
  }
  .tabulka {
    padding-top: 3rem;
    width: 80%;
    /* border: 1px solid red; */
  }
  .tabulka-heading {
    padding-bottom: 2rem;
    font-weight: 500;
  }
}

